{% extends 'events/base.html' %}

{% block content %}

<!-- CATEGORY FILTER -->
<div class="text-center mb-4">

    <a href="/events/" class="btn btn-outline-primary">All</a>
    <a href="/events/?category=workshop" class="btn btn-outline-success">Workshop</a>
    <a href="/events/?category=seminar" class="btn btn-outline-warning">Seminar</a>
    <a href="/events/?category=tech" class="btn btn-outline-info">Tech</a>

</div>

<!-- TITLE -->
<div class="text-center mb-4">
    <h1 class="fw-bold text-primary">🎉 Upcoming Events</h1>
</div>

<!-- SEARCH BOX -->
<div class="row justify-content-center mb-5">
    <div class="col-md-6">
        <input type="text" id="searchInput"
               class="form-control form-control-lg"
               placeholder="🔍 Search Event...">
    </div>
</div>

<!-- EVENTS -->
<div class="row" id="eventContainer">

{% for event in events %}

<div class="col-md-4 mb-4 event-card">

    <div class="card h-100 shadow-lg border-0 rounded-4">

        <!-- IMAGE SAFE -->
        {% if event.image %}
            <img src="{{ event.image.url }}" class="card-img-top"
                 style="height:220px;object-fit:cover;">
        {% else %}
            <img src="https://picsum.photos/600/300?random={{ event.id }}"
                 class="card-img-top"
                 style="height:220px;object-fit:cover;">
        {% endif %}

        <div class="card-body">

            <h4 class="fw-bold text-primary">{{ event.title }}</h4>

            <!-- CATEGORY -->
            <p class="badge bg-info text-dark">
                {{ event.get_category_display }}
            </p>

            <p class="text-muted">
                {{ event.description|truncatewords:18 }}
            </p>

            <p>📅 {{ event.date }}</p>
            <p>📍 {{ event.location }}</p>

            <a href="/event/{{ event.id }}/" class="btn btn-primary w-100">
                View Details
            </a>

        </div>

    </div>

</div>

{% empty %}

<div class="text-center">
    <h3>No Events Found</h3>
</div>

{% endfor %}

</div>

<!-- PAGINATION -->
<div class="text-center mt-4">

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">
        Previous
    </a>
{% endif %}

<span class="mx-3">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">
        Next
    </a>
{% endif %}

</div>

<!-- SEARCH SCRIPT -->
<script>
const search = document.getElementById("searchInput");

search.addEventListener("keyup", function () {
    let filter = search.value.toLowerCase();
    let cards = document.querySelectorAll(".event-card");

    cards.forEach(card => {
        let text = card.innerText.toLowerCase();
        card.style.display = text.includes(filter) ? "block" : "none";
    });
});
</script>

{% endblock %}