{% extends 'events/base.html' %}

{% block content %}

<div class="p-5 mb-5 bg-primary text-white rounded-4 text-center shadow">

    <h1 class="display-4 fw-bold">
        🎉 Event Registration System
    </h1>

    <p class="lead mt-3">
        Register for workshops, seminars and tech events with just one click.
    </p>

    <div class="mt-4">

        <a href="/events/" class="btn btn-light btn-lg me-3">
            View Events
        </a>

        <a href="/my-registrations/" class="btn btn-warning btn-lg">
            My Registrations
        </a>

    </div>

</div>

<div class="row text-center">

    <div class="col-md-4 mb-3">

        <div class="card shadow p-4">

            <h2>🎯</h2>

            <h3>100+</h3>

            <p>Events</p>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card shadow p-4">

            <h2>👥</h2>

            <h3>500+</h3>

            <p>Registrations</p>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card shadow p-4">

            <h2>🏆</h2>

            <h3>50+</h3>

            <p>Organizers</p>

        </div>

    </div>

</div>

{% endblock %}